header  {
    background-color: #14A7FF;
}

nav{
    height: 150px;
    max-width: 1500px;
    margin: 0 auto;

}

.nav-item a {
    margin-right: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}


div.row{
    width: 100%;
}

div.align{
    display: flex;
    justify-content: space-around;
}
div.align img{
    cursor: pointer;
}

section#linha_colecoes{
    margin-top: 70px;
}

section#produtos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}
#produtos span{
    color: #14A7FF;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

p{
    font-family: 'Inter', sans-serif;
    color: #868787;
    font-size: 26px;
    font-weight: 600;
}
section#havaianas_tns{
    margin-top: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #14a7ff;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
section#havaianas_tns h1{
    font-size: 40px;
    font-weight: 900;
    color: #1a1a1e;
    max-width: 500px;
}

section#havaianas_tns p{
    color: #471a48;
    font-size: 17px;
    font-weight: 400;
    max-width: 500px;
}

section#havaianas_tns button{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: #000081;
    color: white;
    font-weight: 900;
}

footer{
    margin-top: 100px;
}
footer div.footerContato{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer div.footerContato p{
    background-color: #14A7FF;
    margin: 0;
    margin-top: 100px;
    padding: 15px 0 15px;
    text-align: center;
    color: white;
    font-size: 20px;
}





